<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="http://www.themefisher.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://www.themefisher.com"><i class="fa fa-youtube"></i></a></li>
            <li><a href="http://www.themefisher.com"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <p><!--Copyright &copy;--> Designed &amp; Developed by Our Time Quintet &amp; <a href="http://www.themefisher.com">Themefisher</a></p>
      </div>
    </div>
  </div>
</footer>

